 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: rgb(87, 144, 190);

}

main {
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5 px rgb(68, 38, 38);
}